@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Oswald&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0px;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url("bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100%-62px);
    display: flex;
    height: calc(100%-100px);
    font-family: 'Martel Sans', sans-serif;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.font {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.fonts {
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.fants {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

/* .separation {
    top: 200px;
    height: 7px;
    background-color: rgb(117, 7, 7);
    position: relative;
    box-shadow: inset;

    z-index: 20;
} */

.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.first {
    padding: 10px;
    padding-bottom: 10px;
}

.second {
    padding-top: 10px;
    margin-left: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.third {
    padding-bottom: 10px;
    padding: 3px 8px;
    margin-left:20px ;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    /* border: 1px solid white; */
    cursor: pointer;
}

.gallery-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px;
}

.scroll-container img {
    height: 200px;
    margin-right: 10px;
    border-radius: 5px;
    
    transition: transform 0.3s;
}
/* @media  screen and (max-width:1300px) {
    .scroll-container img{
        flex-wrap: wrap;
    }
} */

.scroll-container img:hover {
    transform: scale(1.1);
}

.scroll-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.scroll-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.left {
    position: absolute;
    left: 0;
}

.right {
    position: absolute;
    right: 0;
}

.faq h2 {
    text-align: center;
    font-size: 28px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 20px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width: 1300px) {
nav{
    max-width: 90vw;
}
    .hero .font{
        font-size: 32px;
    }
    .hero .fonts{
        font-size: 18px;
    }
    .hero .fant{
        font-size: 18px;
    }
    .hero-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    .faq h2{
        text-align: center;
        font-size: 32px;
    }
  
   
    .footer{
        max-width: 90vw;
        padding: 75px 0;
    }
    .footer-item{
       text-align: center;
    }
}
@media screen and (max-width:1300px){
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}
.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}


 .box2{
 
        font-family: 'Poppins',sans-serif;
        font-weight: bolder;
        font-size: 20px;
        text-align: center;
        justify-content: center;
        position: relative;
        
    }
   
 


.boxof{
    display: flex;
}
    .box1{
        width:200px;
        height:180px;
        background-color: blueviolet;
        padding: 50px;
        margin: 10px;
        padding-top: 20px;
      
     
    }
  .fifth{
    font-family: 'Poppins',sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
  }
  .sixth{
    font-family: 'Poppins',sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
  }
  .seventh{
    font-family: 'Poppins',sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
  }
  .eighth{
    font-family: 'Poppins',sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
  }
  .box1:nth-child(2){
    font-family: 'Poppins',sans-serif;
    font-size: 10px;
    padding-top: 10px;
    text-align: center;

  }
@media only screen and(min-width:455px) {
    
    .box1{
        text-align: center;
        justify-content: center;

    }
}

 
